<div class="row">
  <!-- form -->
  <div class="col-md-12">
    <div class="row">
      <!-- left -->
      <div class="col-md-5">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="orderDate" class="col-sm-offset-6 col-sm-2 control-label">受注日</label>
            <div class="col-sm-3">
              <input kendo-date-picker id="orderDate" ng-model="modal.orderDate">
            </div>
          </div>
          <div class="form-group">
            <label for="dealFNM" class="col-sm-2 control-label">売買種類</label>
            <div class="col-sm-4">
              <select kendo-drop-down-list id="dealFNM" options="modal.dealFNMOptions"></select>
            </div>
            <label for="userNM" class="col-sm-2 control-label">約定者</label>
            <div class="col-sm-3">
              <select kendo-drop-down-list id="userNM" options="modal.userNMOptions"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="custRNM" class="col-sm-2 control-label">取引先名</label>
            <div class="col-sm-10">
              <select kendo-drop-down-list id="custRNM" options="modal.custRNMOptions"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="agreeDate" class="col-sm-2 control-label">約定日</label>
            <div class="col-sm-4">
              <select kendo-drop-down-list id="agreeDate" options="modal.agreeDateOptions"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="deliveryDate" class="col-sm-2 control-label">受渡日</label>
            <div class="col-sm-4">
              <select kendo-drop-down-list id="deliveryDate" options="modal.deliveryDateOptions"></select>
            </div>
            <div class="col-sm-offset-1 col-sm-3">
              <input type="radio" name="deciTermFGroup" id="rateDef" class="k-radio">
              <label class="k-radio-label" for="rateDef">レート決め</label>
            </div>
            <div class="col-sm-2">
              <input type="radio" name="deciTermFGroup" id="priceDef" class="k-radio">
              <label class="k-radio-label" for="priceDef">単価決め</label>
            </div>
          </div>
          <div class="form-group">
            <label for="stockCD" class="col-sm-2 control-label">銘柄コード</label>
            <div class="col-sm-4">
              <input id="stockCD" class="k-textbox" ng-model="modal.stockCD" readonly>
            </div>
            <label for="stockSNM" class="col-sm-2 control-label">銘柄回号</label>
            <div class="col-sm-4">
              <input id="stockSNM" class="k-textbox" ng-model="modal.stockSNM">
            </div>
          </div>
          <div class="form-group">
            <label for="faceValAmt" class="col-sm-2 control-label">額面金額</label>
            <div class="col-sm-4">
              <input kendo-numeric-text-box id="faceValAmt" ng-model="modal.faceValAmt">
            </div>
            <label for="remainNumDays" class="col-sm-2 control-label">残存日数</label>
            <div class="col-sm-4">
              <input kendo-numeric-text-box id="remainNumDays" ng-model="modal.remainNumDays" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="agreeRate" class="col-sm-2 control-label">約定レート</label>
            <div class="col-sm-4">
              <input kendo-numeric-text-box id="agreeRate" ng-model="modal.agreeRate">
            </div>
            <label for="calRate" class="col-sm-2 control-label">逆算レート</label>
            <div class="col-sm-4">
              <input kendo-numeric-text-box id="calRate" ng-model="modal.calRate">
            </div>
          </div>
          <div class="form-group">
            <label for="incProfCP" class="col-sm-2 control-label">利含み単価</label>
            <div class="col-sm-4">
              <input kendo-numeric-text-box id="incProfCP" ng-model="modal.incProfCP">
            </div>
            <div class="col-sm-offset-1 col-sm-2">
              <input type="checkbox" id="faxAutoSendF" class="k-checkbox" checked>
              <label class="k-checkbox-label" for="faxAutoSendF">FAX送信</label>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
              <input type="checkbox" id="opeCmisF" class="k-checkbox">
              <label class="k-checkbox-label" for="opeCmisF">通常約定</label>
            </div>
          </div>
          <div class="form-group">
            <label for="unitPlace" class="col-sm-2 control-label">単価桁数</label>
            <div class="col-sm-4">
              <input kendo-numeric-text-box id="unitPlace" ng-model="modal.unitPlace">
            </div>
            <label for="JGBCCF" class="col-sm-2 control-label">JGBCC区分</label>
            <div class="col-sm-4">
              <select kendo-drop-down-list id="JGBCCF" options="modal.JGBCCFOptions"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="unit" class="col-sm-2 control-label">裸値</label>
            <div class="col-sm-3">
              <input kendo-numeric-text-box id="unit" ng-model="modal.unit" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="passIntrst" class="col-sm-2 control-label">経過利子</label>
            <div class="col-sm-3">
              <input kendo-numeric-text-box id="passIntrst" ng-model="modal.passIntrst" readonly>
            </div>
            <div class="col-sm-offset-4 col-sm-3">
              <div kendo-button class="k-primary">メモ</div>
            </div>
          </div>
          <div class="form-group">
            <label for="deliveryPrice" class="col-sm-2 control-label">受渡代金</label>
            <div class="col-sm-4">
              <input kendo-numeric-text-box id="deliveryPrice" ng-model="modal.deliveryPrice">
            </div>
            <label for="fixDateTime" class="col-sm-2 control-label">約定時間</label>
            <div class="col-sm-3">
              <input kendo-time-picker id="fixDateTime" ng-model="modal.fixDateTime">
            </div>
          </div>
        </form>
      </div>

      <!-- right -->
      <div class="col-md-offset-1 col-md-6">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <input class="k-textbox" id="hundred-million-count" type="text" ng-model="modal.hundredMillionCount">
                <label for="hundred-million-count">億分割</label>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
              <div kendo-button class="k-primary">銘柄詳細</div>
            </div>
          </div>
        </form>

        <!-- table -->
        <div kendo-grid options="modal.multiStockGridOptions"></div>

        <form class="form-horizontal">
          <div class="form-group">
            <label for="cpTotal" class="col-sm-2 control-label">時価総額合計</label>
            <div class="col-sm-10 input-group">
              <input kendo-numeric-text-box id="cpTotal" ng-model="modal.cpTotal">
              （円）
            </div>
          </div>
          <div class="form-group">
            <label for="collAmt" class="col-sm-2 control-label">担保金額合計</label>
            <div class="col-sm-10 input-group">
              <input kendo-numeric-text-box id="collAmt" ng-model="modal.collAmt"></input>
              （円）
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
